In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [5]:
train=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [42]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [43]:
train.drop(columns=['PassengerId','Name', 'Ticket','Cabin', 'Embarked'],inplace=True)
test.drop(columns=['PassengerId','Name', 'Ticket','Cabin', 'Embarked'],inplace=True)

In [44]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0         0       3    male  22.0      1      0   7.2500
1         1       1  female  38.0      1      0  71.2833
2         1       3  female  26.0      0      0   7.9250
3         1       1  female  35.0      1      0  53.1000
4         0       3    male  35.0      0      0   8.0500

In [45]:
train.Sex=pd.get_dummies(train.Sex,drop_first=True)
test.Sex=pd.get_dummies(test.Sex,drop_first=True)

In [46]:
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0         0       3    1  22.0      1      0   7.2500
1         1       1    0  38.0      1      0  71.2833
2         1       3    0  26.0      0      0   7.9250
3         1       1    0  35.0      1      0  53.1000
4         0       3    1  35.0      0      0   8.0500

In [72]:
train.isnull().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
dtype: int64

In [75]:
test.isnull().sum()

Pclass     0
Sex        0
Age       86
SibSp      0
Parch      0
Fare       1
dtype: int64

In [76]:
train.Age=train.Age.fillna(train.Age.mean())
test.Age=test.Age.fillna(test.Age.mean())
test.Fare=test.Fare.fillna(test.Fare.mean())

In [77]:
train.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
dtype: int64

In [78]:
test.isnull().sum()

Pclass    0
Sex       0
Age       0
SibSp     0
Parch     0
Fare      0
dtype: int64

In [79]:
train.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [80]:
549/train.Survived.count()#342

0.6161616161616161

In [81]:
342/train.Survived.count()

0.3838383838383838

In [82]:
#approx 61:39 ratio

In [83]:
x_train,x_test,y_train,y_test=train_test_split(train.drop(columns="Survived"),train.Survived,test_size=0.30)

In [84]:
y_test.value_counts()

0    170
1     98
Name: Survived, dtype: int64

In [85]:
y_train.value_counts()

0    379
1    244
Name: Survived, dtype: int64

In [86]:
y_test.value_counts()[0]/y_test.count()  #test part

0.6343283582089553

In [87]:
y_test.value_counts()[1]/y_test.count()

0.3656716417910448

In [88]:
y_train.value_counts()[0]/y_train.count()

0.608346709470305

In [89]:
y_train.value_counts()[1]/y_train.count()

0.391653290529695

# Lets try the same with Stratify

In [90]:
x_train,x_test,y_train,y_test=train_test_split(
    train.drop(columns="Survived"),
    train.Survived,test_size=0.30,
    stratify=train.Survived
)

In [91]:
y_test.value_counts()

0    165
1    103
Name: Survived, dtype: int64

In [92]:
y_train.value_counts()

0    384
1    239
Name: Survived, dtype: int64

In [93]:
y_test.value_counts()[0]/y_test.count()  #test part before 0.6492537313432836

0.6156716417910447

In [94]:
y_test.value_counts()[1]/y_test.count()  #0.35074626865671643

0.3843283582089552

In [95]:
y_train.value_counts()[0]/y_train.count() #before 0.6019261637239165

0.6163723916532905

In [96]:
y_train.value_counts()[1]/y_train.count() #0.39807383627608345

0.38362760834670945

# Model

In [97]:
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier(random_state=0)

In [99]:
rf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [103]:
x_train.shape

(623, 6)

In [105]:
x_test.shape

(268, 6)

In [106]:
pred=rf.predict(x_test)

In [107]:
accuracy_score(y_test,pred)

0.8171641791044776

In [111]:
samp=pd.read_csv("gender_submission.csv")
pid=samp.PassengerId

In [112]:
d={"PassengerId":pid,"Survived":rf.predict(test)}

In [113]:
result=pd.DataFrame(d)

In [114]:
result.shape

(418, 2)

In [115]:
result.to_csv("Stratified_result.csv",index=False)